<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:fragment="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/inventory">Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alquiler">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/invoice">Facturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/supply">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Movimientos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>